---
import { cn } from '@/utils'
const { as: Tag = 'a', class: className, title, href, style = 'button' } = Astro.props
---

<Tag
	class={cn(
		className,
		'inline-flex items-center gap-x-1 rounded-lg border border-border/50 bg-card px-2.5 py-1 text-sm transition-all duration-200 hover:border-border hover:bg-secondary',
		!href && 'cursor-default',
		style === 'pill' && 'rounded-full'
	)}
	href={href}
	data-astro-prefetch
>
	<slot name='icon-before' />
	<p>{title}</p>
	<slot name='icon-after' />
</Tag>
