---
import type { SiteMeta } from '@/types'

import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/layout/Header.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'

import Analytics from '@/components/Analytics.astro'
import { siteConfig } from '@/site-config'

interface Props {
	meta: SiteMeta
}

const {
	meta: { description = siteConfig.description, ogImage, title }
} = Astro.props
---

<html lang={siteConfig.lang} class=''>
	<head>
		<BaseHead description={description} ogImage={ogImage} title={title} />
	</head>

	<body class='flex justify-center overflow-hidden bg-background'>
		<ThemeProvider />
		<div
			class='flex h-dvh w-screen max-w-[64rem] flex-col px-6 pt-8 pb-6 font-satoshi text-[0.92rem] leading-relaxed sm:px-10 lg:px-12'
		>
			<Header />
			<slot />
		</div>
		<Analytics />
	</body>
</html>
